*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Noto Serif", serif;
  font-weight: 600;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}

main {
  margin-top: 64px;
  padding-inline: 0.625em;
  margin-inline: auto;
  max-width: 81.25em;
}

/* Account for the biggern navbar */
@media (min-width: 90em) {
  main {
    margin-top: calc(64px + 192px);
  }
}

/* Top AD banner */
.ad-banner {
  background-color: lightgray;
  height: 50px;
  line-height: 50px;
  margin-bottom: 3em;
  margin-top: calc(64px + 1em);
  text-align: center;
}

@media (min-width: 40em) {
  .ad-banner {
    height: 90px;
    line-height: 90px;
  }
}

@media (min-width: 50em) {
  .ad-banner {
    height: 250px;
    line-height: 250px;
  }
}

/* Header section */
.big-title {
  font-variant: small-caps;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: clamp(1.3em, 6vw, 2.9em);
  margin-block: 0;
  margin-inline: auto;
}

.main-header {
  animation: slide-down linear forwards;
  animation-timeline: scroll();
  animation-range: 0px 100px;

  display: flex;
  flex-direction: column;
  background-color: white;
  border-bottom: 1px solid #9d9a98;
  height: 64px;
  padding-inline: 0.625em;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.main-header .top-section {
  align-items: center;
  display: flex;
  height: 100%;
}

.main-header .bottom-section ul {
  animation: hide-on-scroll linear forwards;
  animation-timeline: scroll();
  animation-range: 0px 100px;

  justify-content: center;
  display: flex;
  column-gap: 1.5em;
  margin-block: 1em;
}

.main-header .bottom-section ul li {
  font-weight: bold;
}

.main-header .bottom-section ul li:hover {
  color: #7d161e;
  text-decoration: underline;
}

@media (max-width: 89.9em) {
  .hide-small {
    display: none !important;
  }
}

@keyframes slide-down {
  0% {
    top: 0;
    box-shadow: none;
  }
  64% {
    top: -64px;
    box-shadow: none;
  }
  70% {
    top: 0;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
  }
  100% {
    top: 0;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
  }
}

.icon-button {
  align-items: center;
  background: none;
  border: none;
  column-gap: 0.625rem;
  display: flex;
  font-size: 1em;
  line-height: 1;
  height: min-content;
}

.main-header .right-cluster {
  display: flex;
}

@media (min-width: 90em) {
  @keyframes slide-down {
    0% {
      top: 0;
      height: 192px;
      box-shadow: none;
    }
    64% {
      top: -64px;
      height: 192px;
      box-shadow: none;
    }
    70% {
      top: 0;
      height: 64px;
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
    }
    100% {
      top: 0;
      height: 64px;
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
    }
  }

  @keyframes hide-on-scroll {
    0% {
      visibility: visible;
      position: static;
    }
    69% {
      visibility: visible;
      position: static;
    }
    70% {
      visibility: hidden;
      position: absolute;
    }
    100% {
      visibility: hidden;
      position: absolute;
    }
  }

  @keyframes move-up-on-scroll {
    0% {
      grid-row: 2;
    }
    64% {
      grid-row: 2;
    }
    70% {
      grid-row: 1;
    }
    100% {
      grid-row: 1;
    }
  }

  .big-title {
    font-size: clamp(1.3em, 6vw, 3.8em);
    line-height: 1;
  }

  .icon-button {
    padding: 1em;
  }

  .hide-big {
    display: none;
  }

  .main-header {
    padding-inline: 2.25em;
  }

  .main-header .top-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .main-header .left-cluster > * {
    font-weight: bold;
  }

  .main-header .big-title {
    animation: move-up-on-scroll linear forwards;
    animation-timeline: scroll();
    animation-range: 0px 100px;

    grid-row: 2;
    grid-column: 2;
  }

  .main-header .right-cluster {
    justify-content: end;
    grid-column: 3;
  }

  .main-header .right-cluster .button.big {
    font-size: 1rem;
    border: none;
    margin: 0;
    margin-left: 1em;
    text-transform: capitalize;
    width: 120px;
  }

  .main-header .right-cluster .button.big:hover {
    text-decoration: underline;
  }

  .main-header .accuweather {
    animation: hide-on-scroll linear forwards;
    animation-timeline: scroll();
    animation-range: 0px 100px;
    background-color: lightgray;
    padding: 1em;
  }

  .trending-bar-wrapper {
    animation: hide-on-scroll linear forwards;
    animation-timeline: scroll();
    animation-range: 0px 100px;

    background-color: white;
    position: absolute !important;
    width: 100%;
    top: 192px;
    z-index: 100;
  }

  .trending-bar {
    display: flex;
    margin-inline: auto;

    max-width: 80em;
    padding-block: 0.5em;
  }

  .trending-bar .label {
    color: #7d161e;
    text-transform: uppercase;
    font-weight: 800;
    min-width: 130px;
  }

  .trending-bar ul {
    display: flex;
    column-gap: 1.5em;
  }

  .trending-bar li:hover {
    color: #7d161e;
  }
}

/* Hero section */
section.landing {
  margin-block: 2em;
}

@media (min-width: 60em) {
  section.landing {
    display: grid;
    grid-template-columns: 9fr 5fr 6fr;
    column-gap: 1.5em;
  }
}

@media (min-width: 80em) {
  section.landing {
    grid-template-columns: 2fr 1fr 1fr;
  }
}

article {
  border-bottom: 1px solid #d7d6d2;
  margin-bottom: 1.25em;
  padding-bottom: 1em;
}

article h3:hover {
  color: #8e1024;
}

article.big {
  column-gap: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "first"
    "second"
    "third";
}

article.big img {
  grid-area: second;
  margin-bottom: 0.5em;
  width: 100%;
}

article.big h3 {
  font-size: 1.625em;
  margin-bottom: 0.5em;
  margin-top: 0;
  line-height: 1.1;
  grid-area: first;
}

article.big p {
  margin-top: 0;
  color: #38322a;
  grid-area: third;
}

@media ((min-width: 40em) and (max-width: 49.9375em)) or (min-width: 80em) {
  article.big {
    grid-template-areas:
      "first  second"
      "third  second";
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 40em) {
  article.big h3 {
    font-size: 1.875em;
  }
}

.landing > ul {
  margin-bottom: 2em;
}

li article {
  display: flex;
  gap: 0;
}

li article img {
  width: 33%;
  margin: 0 1.25em 0.5em 0;
}

li article h3 {
  margin: 0;
  font-size: 1.125em;
}

@media (min-width: 40em) {
  ul.landing {
    display: grid;
    column-gap: 1.5rem;
    row-gap: 1rem;
    grid-template-columns: 1fr 1fr;
  }

  ul.landing > li article {
    height: 100%;
  }
}

@media (min-width: 50em) {
  ul.landing > li article {
    display: block;
  }

  ul.landing > li article img {
    width: 100%;
  }
}

.headlines > h2 {
  border-bottom: 2px solid #8e1024;
  color: #38322a;
  font-family: "Noto Sans", sans-serif;
  font-size: 1.25em;
  font-weight: normal;
  margin: 0;
  margin-bottom: 1em;
  padding-bottom: 0.375em;
  text-transform: uppercase;
}

.headlines article h3 {
  display: inline;
  font-size: 1em;
  line-height: 1.1;
}

.headlines li:last-of-type article {
  border-bottom: none;
}

.headlines li:first-child {
  padding-top: 0;
  margin-top: 0;
}

.headlines article time {
  font-size: 0.75em;
  color: #5d5b5a;
}

.headlines .ad {
  border-bottom: 1px solid #d7d6d2;
  margin-bottom: 1em;
  padding-bottom: 1em;
}

.headlines .ad::before {
  background-color: #003459;
  color: white;
  content: "sponsored content";
  font-size: 0.75em;
  padding: 2px 5px;
  text-transform: uppercase;
}

.headlines .ad h3 {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.2em;
}

.headlines .ad span {
  color: #5d5b5a;
  font-size: 0.75em;
  display: block;
}

.headlines .ad img {
  display: block;
  margin-top: 0.5em;
}

.signup-container {
  background-color: #f1efeb;
  margin-block: 0.75em 3.25em;
  padding: 2em 1em 1em 1em;
  text-align: center;
}

.signup-container > p {
  font-weight: bold;
  margin: 0;
  margin-bottom: 0.75em;
}

.big.button {
  display: block;
  width: fit-content;
  margin-inline: auto;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  background-color: #8e1024;
  padding: 0.75em 1em;
  border-radius: 4px;
}

.big.button:hover {
  background-color: #c81632;
}

.ad-column img {
  display: block;
  width: 50vw;
  margin-inline: auto;
  margin-bottom: 5em;
  max-width: 100%;
}

@media (min-width: 40em) {
  .ad-column img {
    width: auto;
    max-width: 100%;
  }
}

section.populars {
  margin-bottom: 5em;
}

.populars h2 {
  border-bottom: 2px solid #8e1024;
  color: #8e1024;
  font-family: "Noto Sans", sans-serif;
  font-weight: normal;
  font-size: 1.25em;
  line-height: 1.2em;
  text-transform: uppercase;
}

.populars ol {
  counter-reset: populars-counter;
}

.populars li {
  align-items: center;
  counter-increment: populars-counter;
  display: flex;
  font-family: "Noto Serif", serif;
  margin-top: 1.25em;
}

.populars li:hover {
  color: #8e1024;
}

.populars a {
  font-weight: 600;
  line-height: 1.2em;
  margin: 0;
}

.populars li::before {
  background-color: #8e1024;
  border-radius: 100%;
  color: white;
  content: counter(populars-counter);
  flex-shrink: 0;
  font-size: 1.25em;
  font-weight: bold;
  height: 32px;
  line-height: 32px;
  margin-right: 0.625em;
  text-align: center;
  width: 32px;
}

@media (min-width: 40em) {
  .populars ol {
    column-count: 2;
  }
}

@media (min-width: 50em) {
  .populars {
    width: 60%;
  }
}

.category {
  margin-bottom: 4em;
}

.category h2 {
  border-bottom: 2px solid #8e1024;
  color: #38322a;
  font-family: "Noto Sans", sans-serif;
  font-size: 1.25em;
  font-weight: normal;
  line-height: 1.7em;
  text-transform: uppercase;
}

.category h2:hover {
  color: #8e1024;
}

.category h2 i {
  color: #8e1024;
}

.category article.big {
  display: block;
}

.category article.big h3 {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.25em;
  font-weight: 600;
  margin-top: 1.6em;
}

.category article.big p {
  line-height: 1.1em;
  margin-bottom: 0.5em;
}

.category .headlines h3 {
  font-family: "Noto Sans", sans-serif;
}

@media (min-width: 40em) {
  .top-categories {
    column-gap: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 90em) {
  .top-categories {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.category.photos article.big {
  border: none;
  padding: 0;
}

.category.photos article.big h3 {
  font-family: "Noto Serif", serif;
  font-size: 1.8em;
  margin-top: 0.3em;
}

.category.photos ul > li {
  display: flex;
}

.category.photos ul article {
  align-items: start;
  padding-bottom: 2em;
}

.category.photos ul li:last-of-type article {
  margin: 0;
}

.category.photos ul h3 {
  font-size: 1em;
  font-family: "Noto Sans", sans-serif;
}

.category.photos ul .carousel-cover {
  font-size: 0.625rem;
  margin-right: 1rem;
  width: 90px;
}

.carousel-cover {
  position: relative;
  flex-shrink: 0;
}

.carousel-cover img {
  width: 100%;
}

.carousel-cover::after {
  bottom: 0.3em;
  background-color: #0a0908;
  border: 1px solid white;
  border-radius: 100%;
  color: white;
  content: "\f302";
  font-family: "Font Awesome 6 Free";
  height: 2em;
  line-height: 2em;
  position: absolute;
  right: 0.3em;
  text-align: center;
  width: 2em;
}

.photos .show-more {
  background: none;
  border: none;
  border-top: 1px solid #d7d6d2;
  color: #8e1024;
  font-size: 1rem;
  font-weight: bold;
  padding-block: 2.5em;
  position: relative;
  text-transform: uppercase;
  width: 100%;
}

.photos .show-more:hover {
  color: black;
}

.photos .show-more::before {
  background-color: white;
  border-bottom: 2px solid #d7d6d2;
  border-right: 2px solid #d7d6d2;
  content: "";
  height: 35px;
  position: absolute;
  right: 50%;
  top: 0;
  transform: translateX(50%) translateY(-50%) rotate(45deg);
  width: 35px;
}

.other-categories .category article.big h3 {
  font-size: 1.5em;
  font-family: "Noto Serif", serif;
  margin-top: 1em;
}

.other-categories .category article.big p {
  line-height: 1.4;
}

@media (min-width: 40em) {
  .photos ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1.5em;
  }

  .photos ul li:nth-last-child(2) article {
    margin: 0;
  }
}

@media (min-width: 60em) {
  .photos {
    width: 60%;
  }

  .other-categories {
    width: 60%;
  }

  .other-categories article.big {
    column-count: 2;
    align-items: start;
    border-bottom: none;
    padding-bottom: 0;
  }

  .other-categories .category article.big h3 {
    break-before: column;
    margin-top: 0;
  }

  .other-categories .headlines {
    width: calc(50% - 0.5rem);
    margin-left: auto;
  }

  .other-categories .headlines li:first-of-type article {
    border-top: 1px solid #d7d6d2;
    padding-top: 1em;
  }
}

/* 40 30 30 */
@media (min-width: 90em) {
  .category.photos {
    width: 75%;
  }

  .category.photos .inner {
    display: grid;
    column-gap: 1.5rem;
    grid-template-columns: 3fr 2fr;
  }

  .category.photos ul {
    display: block;
  }

  .other-categories {
    width: 75%;
  }

  .other-categories .inner {
    display: grid;
    grid-template-columns: 7fr 3fr;
  }

  .other-categories .headlines {
    width: 100%;
  }

  .other-categories .headlines li:first-of-type article {
    border-top: none;
    padding-top: 0;
    width: 100%;
  }
}

footer {
  background-color: #f5f5f5;
  box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.35) inset;
}

footer .big-title {
  font-size: clamp(1em, 12.6vw, 30em);
  text-align: center;
  white-space: nowrap;
}

footer .menu {
  margin-top: 1.5em;
  max-width: 95em;
  margin-inline: auto;
  padding-inline: 0.75em;
  padding-bottom: 2em;
}

footer .menu > li {
  align-items: center;
  border-top: 2px solid #000;
  display: flex;
  flex-wrap: wrap;
}

footer .menu .expand {
  border: none;
  background: none;
  padding: 0;
  text-align: right;
  width: 50%;
}

footer .menu .expand i {
  color: #aaa7a4;
  font-size: 1.2em;
}

footer .menu li:focus-within .expand i {
  transform: rotate(180deg);
}

footer .menu li:focus-within .submenu {
  display: block;
}

footer .menu > li > a {
  font-weight: bold;
  padding-block: 1em;
  text-transform: uppercase;
  width: 50%;
  white-space: nowrap;
}

footer .menu > li > a:hover {
  text-decoration: underline;
}

footer .menu .big.button {
  margin-top: 1em;
  text-align: center;
  width: 100%;
  padding-block: 1.5em;
}

footer .menu .big.button:hover {
  text-decoration: underline;
}

footer .submenu {
  display: none;
  line-height: 1.5em;
  margin-bottom: 1em;
}

footer .links {
  border-top: 1px solid #d3d3d3;
  color: #5d5b5a;
  max-width: 100em;
  margin-inline: auto;
  padding: 1.5em 0.75em;
}

footer .links li {
  margin-bottom: 1.5em;
}

footer .copyright {
  color: #5d5b5a;
  font-size: 0.75em;
  margin: 0;
  max-width: 90vw;
  padding-inline: 1.5em;
  padding-bottom: 12em;
  text-align: center;
  margin-inline: auto;
}

@media (min-width: 40em) {
  footer .big-title {
    font-size: clamp(1em, 5vw, 30em);
    margin-left: calc(0.7rem + 2.5%);
    padding-top: 1.5rem;
    text-align: left;
  }

  footer .menu {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 0.5em;
    max-height: 56.25em;
  }

  footer .menu > li {
    display: block;
    margin-inline: 2.5%;
    width: 40%;
  }

  footer .menu > li > a {
    display: block;
    padding-bottom: 0;
  }

  footer .menu .expand {
    display: none;
  }

  footer .submenu {
    display: block;
  }

  footer .submenu > li {
    margin-block: 1em;
  }

  footer .links li {
    margin-bottom: 0;
  }
}

@media (min-width: 50em) {
  footer .big-title {
    font-size: clamp(1em, 3.8vw, 30em);
    margin-left: 2.25rem;
  }

  footer .menu > li {
    margin-left: 1.5em;
    width: 28%;
  }

  footer .links {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1em;
    padding-inline: 2em;
  }

  footer .links > li {
    white-space: nowrap;
  }
}

@media (min-width: 90em) {
  footer .big-title {
    font-size: clamp(1em, 2.8vw, 2.6em);
  }

  footer .menu {
    max-height: 25.625em;
  }

  footer .menu > li {
    margin-left: 1.5em;
    width: 20%;
  }

  footer .copyright {
    padding-bottom: 3em;
  }
}

@media (min-width: 95em) {
  footer .big-title {
    margin-left: calc((100vw - 95rem) / 2 + 2.25rem);
  }
}
